body{
    font-family: Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(210, 125, 39);
}
input,textarea,select{
    font-family: Geneva, Verdana, sans-serif;
    color: rgb(210, 125, 39);
    border: 0.2px solid black;
    height: 25px;
    border-radius: 5px;
}
input[type=button]{
    background-color: rgb(255, 255, 255);
}
img{
    width: 50px;
    height: auto;
}
div{
    border: 1px solid rgb(255, 224, 171);
    padding: 20px;
    margin: 20px;
    width: 40vw;
}
h1{
    display: inline-block;
}